<!-- Footer Section -->
<footer class="footer_section section_wrapper section_wrapper">
    <div class="footer_top_section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="text_widget footer_widget">
                        <div class="footer_widget_title">
                            <h2>About e Code World Technology Shapers</h2>
                        </div>
                        <div class="footer_widget_content">
                                The hero image gradually transitions between several large, vibrant images that grab your attention without being too distracting, then as you scroll, it lists a few basic facts about the company, as well as some impressive real-time stats showcasing the popularity of their community.
                        </div>
                    </div><!--text_widget-->
                </div><!--col-xs-3-->
                <div class="col-md-6">
                    <div class="footer_widget">
                        <div class="footer_widget_title">
                            <h2>TECHNOLOGIES</h2>
                        </div>
                        <div class="footer_menu_item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            <a href="../navbar/">Microsoft .NET Framework</a>
                                        </li>
                                        <li>
                                            <a href="../navbar-static-top/">ASP.NET MVC</a>
                                        </li>
                                        <li>
                                            <a href="./">ASP.NET MVC Core</a>
                                        </li>
                                        <li>
                                            <a href="../navbar/">Angular</a>
                                        </li>
                                        <li>
                                            <a href="../navbar/">WCF</a>
                                        </li>
                                        <li>
                                            <a href="../navbar-static-top/">WPF</a>
                                        </li>
                                        <li>
                                            <a href="./">MS Office Add-ins</a>
                                        </li>
                                        <li>
                                            <a href="../navbar/">PDF Add-ins</a>
                                        </li>
                                        <li>
                                            <a href="../navbar/">Javascript </a>
                                        </li>
                                    </ul>
                                </div><!--col-sm-4-->
                                <div class="col-sm-4">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            <a href="../navbar/">Java</a>
                                        </li>
                                        <li>
                                            <a href="../navbar-static-top/">MembershipContact us</a>
                                        </li>
                                        <li>
                                            <a href="./">Newsletter Alerts</a>
                                        </li>
                                        <li>
                                            <a href="../navbar/">Podcast</a>
                                        </li>
                                        <li>
                                            <a href="../navbar/">Blog</a>
                                        </li>
                                        <li>
                                            <a href="../navbar-static-top/">SMS Subscription</a>
                                        </li>
                                        <li>
                                            <a href="./">Advertisement Policy</a>
                                        </li>
                                        <li>
                                            <a href="../navbar/">Jobs</a>
                                        </li>
                                    </ul>
                                </div><!--col-sm-4-->
                                <div class="col-sm-4">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            <a href="../navbar/">Report technical issue</a>
                                        </li>
                                        <li>
                                            <a href="../navbar-static-top/">Complaints & Corrections</a>
                                        </li>
                                        <li>
                                            <a href="./">Terms & Conditions</a>
                                        </li>
                                        <li>
                                            <a href="../navbar-static-top/">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="./">Cookie Policy</a>
                                        </li>
                                        <li>
                                            <a href="../navbar/">Securedrop</a>
                                        </li>
                                        <li>
                                            <a href="../navbar/">Archives</a>
                                        </li>
                                    </ul>
                                </div><!--col-sm-4-->
                            </div><!--row-->
                        </div><!--footer_menu_item-->
                    </div><!--footer_widget-->
                </div><!--col-xs-6-->
                <div class="col-md-3">
                    <div class="text_widget footer_widget">
                        <div class="footer_widget_title">
                            <h2>Editor’s Message</h2>
                        </div><img src="assets/img/img-author.jpg">
                        <div class="footer_widget_content">
                                Dinesh Kushwaha is a programmer and blogger. He’s worked in the developing technology world for over 10 years, first at Web Developer and then at Pentagram, where he’s been a partner since 1990. The book and the corresponding website present an outstanding example of visual design at work.
                        </div>
                    </div>
                </div><!--col-xs-3-->
            </div><!--row-->
        </div><!--container-->
    </div><!--footer_top_section-->
    <a class="crunchify-top" href="#"><i aria-hidden="true" class="fa fa-angle-up"></i></a>
    <div class="copyright-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    Editor: Dinesh Kushwaha
                </div><!--col-xs-3-->
                <div class="col-md-6">
                    <div class="copyright">
                        © Copyright 2018 - eCodeWorld.com  Design by: <a href="https://uiCookies.com" title="e Code World">e Code World</a>
                    </div>
                </div><!--col-xs-6-->
                <div class="col-md-3">
                     eCode World  ( Technology Shapers )
                </div><!--col-xs-3-->
            </div><!--row-->
        </div><!--container-->
    </div><!--copyright-section-->
</footer>