<section class="featured-jobs">
		<div class="container">
			<div class="center-block">
				<h1 style="color: rgb(12, 11, 11);">Featured Jobs</h1>
			</div>
			<div class="row">
				<!-- first feature job -->
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img alt="advetiser logo" src="../../assets/img/90x70.jpg"> <a class="feature-link" href="">
						<h3 style="color: black">Job Title heading</h3></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia...</p><span class="meta">Posted by Recruiter - 12/12/2014</span>
						<div class="feature-btns">
                            <a class="btn btn-primary" href="#" role="button"><span class="glyphicon glyphicon-file"></span> View Details</a> 
                            <a class="btn" href="#" role="button"><span class="glyphicon glyphicon-star-empty"></span> Shortlist</a>
						</div>
					</div>
				</div><!-- second feature job -->
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img alt="advetiser logo" src="../../assets/img/90x70.jpg"> <a class="feature-link" href="">
						<h3>Job Title heading</h3></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia...</p><span class="meta">Posted by Recruiter - 12/12/2014</span>
						<div class="feature-btns">
                            <a class="btn btn-primary" href="#" role="button"><span class="glyphicon glyphicon-file"></span> View Details</a> 
                            <a class="btn" href="#" role="button"><span class="glyphicon glyphicon-star-empty"></span> Shortlist</a>
						</div>
					</div>
				</div><!-- third feature job -->
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img alt="advetiser logo" src="../../assets/img/90x70.jpg"> <a class="feature-link" href="">
						<h3>Job Title heading</h3></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia...</p><span class="meta">Posted by Recruiter - 12/12/2014</span>
						<div class="feature-btns">
                            <a class="btn btn-primary" href="#" role="button"><span class="glyphicon glyphicon-file"></span> View Details</a>
                             <a class="btn" href="#" role="button"><span class="glyphicon glyphicon-star-empty"></span> Shortlist</a>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>
    