<div class="container">
	<div class="header-section" style="padding-top: 40px;
    padding-bottom: 5px;">
		<div class="row">
			<div class="col-md-3">
				<div class="logo">
					<a href="home"><img alt="" class="img-responsive" 
						src="assets/img/ecodeworld/ecodeworld-logo.png"></a>
				</div><!--logo-->
			</div><!--col-md-3-->
			<div class="col-md-3">
					<div class="header_ad_banner">
							<a href="#"><img alt="" class="img-responsive" src="assets/img/img_ad.jpg"></a>
						</div>
						<div class="header_ad_banner">
								<a href="#"><img alt="" class="img-responsive" src="assets/img/img_ad.jpg"></a>
							</div>
			</div><!--col-md-6-->
			<div class="col-md-6">
				<div class="header_ad_banner">
					<a href="#"><img alt="" class="img-responsive" src="assets/img/img_ad.jpg"></a>
				</div>
			</div><!--col-md-3-->
		</div><!--row-->
	</div><!--header-section-->
</div><!-- /.container -->