
<div class="container">
		<div class="row">
			<div class="row">
				<div class="col-md-5"></div>
				<div class="col-md-3">
					<!-- Controls -->
					<div class="controls pull-right hidden-xs">
						<a class="left fa fa-chevron-left btn btn-primary" data-slide="prev" href="#carousel-example-generic"></a><a class="right fa fa-chevron-right btn btn-primary" data-slide="next" href="#carousel-example-generic"></a>
					</div>
				</div>
			</div>
			<div class="carousel slide hidden-xs" data-ride="carousel" id="carousel-example-generic">
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="row">
							<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
								<div class="card">
									<img class="card-img-top" src="../../assets/img/90x70.jpg">
									<div class="card-block">
										<figure class="profile">
											<img alt="" class="profile-avatar" src="http://ciatecnica.com.br/img/news/1.jpg">
										</figure>
										<h4 class="card-title mt-3">Semana Ciência da Computação</h4>
										<div class="card-text">
											Nos dias 24 e 25 de Maio a CiaTécnica participou da XV Semana...
										</div>
									</div>
									<div class="card-footer">
										<small>Publicado a 3 min atrás</small> <button class="btn btn-secondary float-right btn-sm">Mostrar</button>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
								<div class="card">
									<img class="card-img-top" src="../../assets/img/90x70.jpg">
									<div class="card-block">
										<figure class="profile">
											<img alt="" class="profile-avatar" src="http://ciatecnica.com.br/img/news/1.jpg">
										</figure>
										<h4 class="card-title mt-3">Semana Ciência da Computação</h4>
										<div class="card-text">
											Nos dias 24 e 25 de Maio a CiaTécnica participou da XV Semana...
										</div>
									</div>
									<div class="card-footer">
										<small>Publicado a 3 min atrás</small> <button class="btn btn-secondary float-right btn-sm">Mostrar</button>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
								<div class="card">
									<img class="card-img-top" src="../../assets/img/90x70.jpg">
									<div class="card-block">
										<figure class="profile">
											<img alt="" class="profile-avatar" src="http://ciatecnica.com.br/img/news/1.jpg">
										</figure>
										<h4 class="card-title mt-3">Semana Ciência da Computação</h4>
										<div class="card-text">
											Nos dias 24 e 25 de Maio a CiaTécnica participou da XV Semana...
										</div>
									</div>
									<div class="card-footer">
										<small>Publicado a 3 min atrás</small> <button class="btn btn-secondary float-right btn-sm">Mostrar</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="row">
							<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
								<div class="card">
									<img class="card-img-top" src="../../assets/img/90x70.jpg">
									<div class="card-block">
										<figure class="profile">
											<img alt="" class="profile-avatar" src="http://ciatecnica.com.br/img/news/1.jpg">
										</figure>
										<h4 class="card-title mt-3">Semana Ciência da Computação</h4>
										<div class="card-text">
											Nos dias 24 e 25 de Maio a CiaTécnica participou da XV Semana...
										</div>
									</div>
									<div class="card-footer">
										<small>Publicado a 3 min atrás</small> <button class="btn btn-secondary float-right btn-sm">Mostrar</button>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
								<div class="card">
									<img class="card-img-top" src="../../assets/img/90x70.jpg">
									<div class="card-block">
										<figure class="profile">
											<img alt="" class="profile-avatar" src="http://ciatecnica.com.br/img/news/1.jpg">
										</figure>
										<h4 class="card-title mt-3">Semana Ciência da Computação</h4>
										<div class="card-text">
											Nos dias 24 e 25 de Maio a CiaTécnica participou da XV Semana...
										</div>
									</div>
									<div class="card-footer">
										<small>Publicado a 3 min atrás</small> <button class="btn btn-secondary float-right btn-sm">Mostrar</button>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
								<div class="card">
									<img class="card-img-top" src="../../assets/img/90x70.jpg">
									<div class="card-block">
										<figure class="profile">
											<img alt="" class="profile-avatar" src="http://ciatecnica.com.br/img/news/1.jpg">
										</figure>
										<h4 class="card-title mt-3">Semana Ciência da Computação</h4>
										<div class="card-text">
											Nos dias 24 e 25 de Maio a CiaTécnica participou da XV Semana...
										</div>
									</div>
									<div class="card-footer">
										<small>Publicado a 3 min atrás</small> <button class="btn btn-secondary float-right btn-sm">Mostrar</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>