<section class="details-card">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="card-content">
						<div class="card-img">
							<img alt="" src="https://placeimg.com/380/230/nature"> <span></span>
							<h4><span>heading</span></h4>
						</div>
						<div class="card-desc">
							<h3>Heading</h3>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis voluptas totam</p><a class="btn-card" href="#">Read</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card-content">
						<div class="card-img">
							<img alt="" src="https://placeimg.com/380/230/animals"> <span></span>
							<h4><span>heading2</span></h4>
						</div>
						<div class="card-desc">
							<h3>Heading2</h3>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis voluptas totam</p><a class="btn-card" href="#">Read</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card-content">
						<div class="card-img">
							<img alt="" src="https://placeimg.com/380/230/tech"> <span></span>
							<h4><span>heading3</span></h4>
						</div>
						<div class="card-desc">
							<h3>Heading3</h3>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis voluptas totam</p><a class="btn-card" href="#">Read</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- details card section starts from here -->