<div class="container">
        <h2>Events</h2>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="our-services-wrapper mb-60">
                                <div class="services-inner">
                                    <div class="our-services-img">
                                    <img src="https://www.orioninfosolutions.com/assets/img/icon/Agricultural-activities.png" width="68px" alt="">
                                    </div>
                                    <div class="our-services-text">
                                        <h4>business growth</h4>
                                        <p>Proin varius pellentesque nuncia tincidunt ante. In id lacus</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="our-services-wrapper mb-60">
                                <div class="services-inner">
                                    <div class="our-services-img">
                                    <img src="https://www.orioninfosolutions.com/assets/img/icon/Agricultural-activities.png" width="68px" alt="">
                                    </div>
                                    <div class="our-services-text">
                                        <h4>business growth</h4>
                                        <p>Proin varius pellentesque nuncia tincidunt ante. In id lacus</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="our-services-wrapper mb-60">
                                <div class="services-inner">
                                    <div class="our-services-img">
                                    <img src="https://www.orioninfosolutions.com/assets/img/icon/Agricultural-activities.png" width="68px" alt="">
                                    </div>
                                    <div class="our-services-text">
                                        <h4>business growth</h4>
                                        <p>Proin varius pellentesque nuncia tincidunt ante. In id lacus</p>
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
    </div>